<?xml version="1.0" encoding="UTF-8"?>
<!--

    UNCLASSIFIED
    Northrop Grumman Proprietary
    ____________________________

    Copyright (C) 2018, Northrop Grumman Systems Corporation
    All Rights Reserved.

    NOTICE:  All information contained herein is, and remains the property of
    Northrop Grumman Systems Corporation. The intellectual and technical concepts
    contained herein are proprietary to Northrop Grumman Systems Corporation and
    may be covered by U.S. and Foreign Patents or patents in process, and are
    protected by trade secret or copyright law. Dissemination of this information
    or reproduction of this material is strictly forbidden unless prior written
    permission is obtained from Northrop Grumman.

-->
<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in
 |                 ${maven.home}/conf/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

   <!--| The path to the local repository maven will use to store artifacts.-->
   <!--| Default: ${user.home}/.m2/repository-->
   <!-- The deploy.sh script assumes the local Maven repository *already* contains the dependencies for
        Maven itself.  See
        https://github.ms.northgrum.com/CEACIDE/third-party/blob/maven/com.ngc.seaside.thirdparty.maven/build.gradle
        for a list of all required Maven dependencies.
     -->

   <!-- servers
    | This is a list of authentication profiles, keyed by the server-id used within the system.
    | Authentication profiles can be used whenever maven must make a connection to a remote server.
    |-->
   <servers>
      <server>
         <id>nexus</id>
         <username>${username}</username>
         <password>${password}</password>
      </server>
   </servers>

</settings>
